---
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import CopyIcon from '../components/icons/Copy.astro';
---

<Layout>
	<section class="w-7/12 max-[600px]:w-8/12 max-[515px]:w-9/12 max-[450px]:w-11/12 mx-auto pt-44">
        <h1 class="flex flex-col min-[1350px]:flex-row font-onest text-left text-6xl font-semibold pb-3">
            Bienvenido,&nbsp<span>soy <span class="font-bold text-sky-500/80">Bartosz</span></span>
        </h1>
        <h2 class="text-xl">
            estudiante de <span class="text-orange-600/80">desarrollo web,</span>
             actualmente curso un <span class="text-sky-700">grado superior</span>
             y estoy en busca de empresas donde poder iniciar mi camino. Soy de Alhama de Murcia, bastante 
             <span class="text-orange-600/80">responsable</span> y <span class="text-orange-600/80">curioso</span> hasta la médula.
        </h2>

        <ul class="flex flex-row gap-8 pt-4 items-center">
            <li><a href="https://www.linkedin.com/in/bartosz-kucmierz-5a70b8328/" target="_blank"><LinkedInIcon/></a></li>
            <li><a href="https://github.com/porrako" target="_blank"><GitHubIcon/></a></li>
            <li>
                <div class="flex gap-3 items-center h-8 rounded-full border-sky-900/30 border-2">
                    <span class="self-center text-sm pl-10 pr-8">kucmierz.bartosz09@gmail.com</span>
                    <button class="pr-10"><CopyIcon/></button>
                </div>
            </li>
        </ul>
    </section>
</Layout>