---
import { Image } from 'astro:assets';
import logo from "../assets/boboat.jpg";
---
 <header class="w-full shadow-md">
    <div class="w-9/12 max-[450px]:w-10/12 max-[390px]:w-11/12 mx-auto flex justify-between items-center py-4">
        <Image src={logo} alt="hola" class="rounded-full w-16 h-16" />

        <nav class="flex flex-row gap-4 max-[450px]:gap-2 text-lg">
            <a class="hover:text-sky-700" href="#">Inicio</a>
            <a class="hover:text-sky-700" href="#">Projectos</a>
            <a class="hover:text-sky-700" href="#">Contacto</a>
        </nav>
    </div>
 </header>